<h1>index</h1>




<%=render 'layouts/cat'%>


<table id="pharmacies">
	<tr>
		<th>Name</th>
		<th>Surname</th>
		<th>AM</th>
		<th>Date</th>
		<th>Description</th>
		<th>Location</th>
		<th>City ID</th>
		<th>Latitude</th>
		<th>Longitude</th>
	</tr>

	<% @pharmacies.each do |pharm| %>
		<%if Date.today == pharm.date%>
	<tr>
		<td><%=link_to pharm.name, pharmacy_path(pharm) %></td>
		<td><%=pharm.surname%></td>
		<td><%=pharm.am%></td>
		<td><%=pharm.date.strftime('%v')%></td>
		<td><%= pharm.address%></td>
		<td><%=pharm.description%></td>
		<td><%=pharm.location%></td>
		<td><%=pharm.city_id%></td>
		<td><%=pharm.latitude%></td>
		<td><%=pharm.longitude%></td>
	</tr>
		<%end%>
	<%end%>


</table>

<h1>import csv</h1>

	<%= form_tag import_pharmacies_path, multipart: true do %>
		<%=file_field_tag :file %>
		<%=submit_tag "Import"%>

	<%end%>

</table>