<h1>Show PAge</h1>

	<tr>
		<td><%=@pharmacies.name%></td>
		<td><%=@pharmacies.surname%></td>
		<td><%=@pharmacies.am%></td>
		<td><%=@pharmacies.date.strftime('%v')%></td>
		<td><%=@pharmacies.description%></td>
		<td><%=@pharmacies.location%></td>
		<td><%=@pharmacies.city_id%></td>
		<td><%=@pharmacies.latitude%></td>
		<td><%=@pharmacies.longitude%></td>
	</tr>


	<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=800x400&maptype=roadmap&zoom=15
&markers=color:red%7Clabel:C%7C#{@pharmacies.latitude},#{@pharmacies.longitude}" %>
